<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>

  <div class="uk-grid-small uk-width-2-3@m uk-child-width-1-3@m" uk-grid>

        <div *ngFor="let market of parent.parent.markets;">
          <div class="uk-card uk-card-default uk-card-body">
              <b>{{market.name}}</b><br>
              <i>{{market.resp}}</i>
              <hr>
              <button class="uk-button uk-width-1-1 uk-button-small uk-button-secondary" type="button" href="#modalEditMarket" uk-toggle (click)="selectMarket(market)">Éditer</button>
              <br><br><button class="uk-button uk-width-1-1 uk-button-small uk-button-secondary" type="button" href="#modalDeleteMarket" uk-toggle>Supprimer</button>
          </div>
        </div>

  </div>

  <div class="uk-width-1-3@m">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Marchés</h3>
        <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="uk-button uk-width-1-1 uk-button-primary" type="button" href="#modalAddMarket" uk-toggle>Ajouter un marché</button>
    </div>
  </div>

</div>

<div id="modalDeleteMarket" uk-modal="center: true">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Supprimer le marché</h2>
        </div>
        <div class="uk-modal-body">
          <p>Êtes-vous sûr de vouloir supprimer ce marché ? Cette action est irréversible.</p>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
            <button class="uk-button uk-button-primary" type="button">Supprimer le marché</button>
        </div>
    </div>
</div>


<div id="modalAddMarket" uk-modal="center: true">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Ajouter un marché</h2>
        </div>
        <div class="uk-modal-body">
          <form class="uk-form-stacked">

            <div class="uk-margin">
                <label class="uk-form-label" for="market-name">Nom du marché</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="market-name" type="text" placeholder="Nom du marché">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="market-responsable">Responsable du marché</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="market-responsable" type="text" placeholder="Responsable du marché">
                </div>
            </div>

          </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
            <button class="uk-button uk-button-primary" type="button">Ajouter un marché</button>
        </div>
    </div>
</div>


<div id="modalEditMarket" uk-modal="center: true">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Éditer le marché</h2>
        </div>
        <form class="uk-form-stacked" (ngSubmit)="editMarket(market)">
          <div class="uk-modal-body">


              <div class="uk-margin">
                  <label class="uk-form-label" for="market-name">Nom du marché</label>
                  <div class="uk-form-controls">
                      <input [(ngModel)]="market.name" class="uk-input" id="market-name" name="market.name" type="text" placeholder="Nom du marché">
                  </div>
              </div>

              <div class="uk-margin">
                  <label class="uk-form-label" for="market-responsable">Responsable du marché</label>
                  <div class="uk-form-controls">
                      <input [(ngModel)]="market.resp" class="uk-input" id="market-responsable" name="market.resp" type="text" placeholder="Responsable du marché">
                  </div>
              </div>


          </div>
          <div class="uk-modal-footer uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
              <button class="uk-button uk-button-primary" type="submit">Éditer un marché</button>
          </div>
        </form>
    </div>
</div>
